
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    /* background-color: rgba(141, 66, 5, 0.744); */
    color: aliceblue;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    /* background-color: burlywood; */
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    /* logo animation 19:13 */
    position: relative;
    font-size:  25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
}

.navbar a{
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s;
}

.navbar a:hover,
/*. active????*/
.navbar a.active{
    color: rgb(109, 108, 108); /* when hover, change color*/
}

.home{
    height: 100vh;
    background: url("../images/header-background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 0 10%;
}

.home-content{
    max-width: 800px;
}

.home-content h1{
    font-size:  50px;
    font-weight: 650;
    line-height: 1;
    /* color: #a4747c; */
}

.home-content h3{
    font-size: 30px;
    font-weight: 700;
    max-width: 600px
    /* color: #a4747c; */
}

.home-content p{
    max-width: 580px;
    font-size: 18px;
    margin: 20px 0 40px;
}

.home-content .home-buttons{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 30px;
}

.home-buttons a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
    background: rgb(183, 183, 230);
    border: 1.5px solid palevioletred;
    border-radius: 8px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home-buttons a{
    background: transparent;
    color: palevioletred;
}

.home-buttons a:hover{
    color:whitesmoke;
}

.home-buttons a::before{
    background: palevioletred;
}

.home-buttons a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: palevioletred;
    z-index: -1;
    transition: .5s;
}

.home-buttons a:hover::before{
    width: 100%;
}

@keyframes showRight{
    100%{
        width: 0;
    }
}

.about{
    /* height: 100vh; */
    background: url("../images/about-background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    /* background: black; */
    padding-top: 6rem;
}

.heading{
    font-size: 3rem;
    margin-bottom: 5rem;
    text-align: center;
}

.about-img{
    position:relative;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 90%;
    border-radius: 50%;
    border: 0.2rem solid silver;
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    border-left: 0.2rem solid silver;
    border-right: 0.2rem solid silver;
}

.about-content{
    text-align: center;
}

.about-content h3{
    font-size:  2rem;
    font-family: 'Papyrus', fantasy;
}

.about-content p{
    font-size: 1.2rem;
    margin: 2rem 0 3 rem;
    font-family: 'Papyrus', fantasy;
}

.contact{
    min-height: auto;
    padding-bottom: 7rem;
    background: url(../images/buffer.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}